/* General button style */

button {
  font-family: "Space Mono", monospace;
  color: var(--dominant-dark);
  border: 1.2px solid var(--border-color);
  transition: all .2s ease-in-out;
  min-width: 3em;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.3em;
  cursor: pointer;
  box-shadow: 0px 2px 0px 2px #d9d9d9;
  border-radius: 4px !important;
}

button:hover {
  transition: all .2s ease-in-out;
  border: 1px solid var(--dominant-dark);
}

input[type="number"] {
  box-shadow: 0px 2px 0px 2px #d9d9d9;
  border-radius: 4px !important;
}

.btn-caption {
  font-size: 0.6em;
  font-weight: bold;
  color: var(--pressed-color);
}

/* Key, Mod, Mood and Progression main buttons */

.prog-btn {
  width: 11em;
}

.key-btn-pressed,
.mode-btn-pressed,
.mood-btn-pressed,
.prog-btn-pressed,
.chordbuild-btn-pressed {
  /* color: #f4eeff; */
  color: var(--dominant-light);
  transition: all .2s ease-in-out;
  border: 1px solid var(--dominant-dark);
  background-color: var(--dominant-dark);
}

/* Scale and Chord buttons */

.visible {
  display: inline-block;
}

.invisible {
  display: none;
}

.scale-chord-btn,
.chord-btn {
  font-size: 1.2em;
  min-width: 4em;
}

@media screen and (max-width: 600px) {
  .chord-btn {
    font-size: 1.2em;
    min-width: 3.1em;
  }
  .scale-chord-btn {
    font-size: 1.2em;
    min-width: 3.1em;
  }
} 

button.chord-btn:hover,
button.scale-chord-btn:hover {
  border: 1px solid var(--pressed-color) !important;
}

.chord-btn-pressed,
.scale-chord-btn-pressed {
  transition: background-color 0.2s ease;
  color: #f4eeff;
  border: 1px solid var(--pressed-color);
  background-color: var(--pressed-color);
  transition: all .2s ease-in-out;
}

.chord-btn-pressed p {
  color: #f4eeff;
}

/* Loop button */

#loop {
  height: 2.3em;
  width: 2.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  #loop {
    /* font-size: .9em; */
    width: 2em;
    height: 2em;
  }
}

.loop-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1.2em; */
}

.loop-btn {
  font-size: 1.4em;
  color: var(--dominant-dark);
  border: 1px solid var(--dominant-dark);
}
.loop-btn:hover {
  background-color: var(--dominant-dark);
  color: var(--dominant-light);
  border: 1px solid var(--dominant-dark);
}
.loop-btn-pressed {
  font-size: 1.4em;
  background-color: var(--dominant-dark);
  color: var(--dominant-light);
  border: 1px solid var(--dominant-dark);
  box-shadow: 0px 2px 0px 2px var(--dominant-light) !important;
}
.loop-btn-disabled {
  opacity: 0.4;
  cursor: none;
}

/* Export to MIDI button */

#export-midi-btn {
  font-size: 1em;
  font-weight: bold;
  transition: all .2s ease-in-out;
  border: 1.4px solid var(--dominant-dark);
}
