/* General button style */

button {
  font-family: "Space Mono", monospace;
  color: var(--dominant-dark);
  border-radius: 3% !important;
  border-color: lightgrey;
  min-width: 3em !important;
  font-size: 1.2em;
  padding: 0.2em;
  margin: 0.2em;
  cursor: pointer;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
}

button:hover {
  border-radius: 3% !important;
  border: 2px solid var(--dominant-dark);
}

.btn-caption {
  font-size: 0.6em;
}

/* Key, Mod, Mood and Progression main buttons */

.key-btn-pressed,
.mode-btn-pressed,
.mood-btn-pressed,
.prog-btn-pressed {
  transition: background-color 0.2s ease;
  border-radius: 0% !important;
  color: #f4eeff;
  border: 2px solid var(--dominant-dark);
  background-color: var(--dominant-dark);
}

/* Scale and Chord buttons */

.scale-chord-btn,
.chord-btn {
  font-size: 1.4em;
}

button.chord-btn:hover,
button.scale-chord-btn:hover {
  border: 2px solid var(--pressed-color) !important;
}

.chord-btn-pressed,
.scale-chord-btn-pressed {
  transition: background-color 0.2s ease;
  border-radius: 0% !important;
  color: #f4eeff;
  border: 2px solid var(--pressed-color);
  background-color: var(--pressed-color);
}

/* Loop button */

.loop-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loop-btn {
  font-size: 1.4em;
  color: var(--pressed-color);
  border: 2px solid var(--pressed-color);
}
.loop-btn:hover {
  background-color: var(--pressed-color);
  color: white;
  border: 2px solid var(--pressed-color);
}
.loop-btn-pressed {
  font-size: 1.4em;
  background-color: var(--pressed-color);
  color: white;
  border: 2px solid var(--pressed-color);
}
.loop-btn-disabled {
  opacity: 0.4;
}

/* Export to MIDI button */

#export-midi-btn {
  font-size: 0.9em;
  margin-top: 1em;
  text-decoration: underline;
}
