/* PIANO STYLING */

#keyboard {
  display: flex;
}

#keyboard li {
  border-radius: .25em;
}

.keyboard-box {
  margin-left: -2.2em;
}

.white,
.black {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
  user-select: none;
}

.white {
  height: 12.5rem;
  width: 3.5rem;
  z-index: 1;
  border-left: 1px solid hsl(0, 0%, 73%);
  border-bottom: 1px solid hsl(0, 0%, 73%);
  background: linear-gradient(to bottom, hsl(0, 0%, 93%) 0%, white 100%);
  color: var(--black-30);
}

.black {
  height: 8rem;
  width: 2rem;
  margin: 0 0 0 -1rem;
  z-index: 2;
  border: 1px solid black;
  background-color: var(--piano-dark);
  color: var(--white-80);
}

.white.pressed {
  border-top: 1px solid hsl(0, 0%, 47%);
  border-left: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  color: var(--white-80);
  background: var(--pressed-color);
  outline: none;
}

.black.pressed {
  background: var(--pressed-color);
  outline: none;
}

.offset {
  margin: 0 0 0 -1rem;
}

/* ScalePianoDisplay */
.white.s-pressed {
  border-top: 1px solid hsl(0, 0%, 47%);
  border-left: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  color: var(--white-80);
  background: var(--pressed-color);
  outline: none;
}

.black.s-pressed {
  background: var(--pressed-color);
  outline: none;
}

/* On screens that are 600px or less make the piano smaller and more visible */
@media screen and (max-width: 600px) {
  #keyboard li {
    font-size: .76em;
    padding-right: .2rem;
  }
  #scale-keyboard li {
    font-size: .76em;
    padding-right: .2rem;
  }
  .white {
    height: 8.3rem;
    width: 2.4rem;
  }
  .black {
    height: 5rem;
    width: 1.3rem;
  }
  .offset {
    margin: 0 0 0 -0.6rem;
  }
}