.centered-box {
  text-align: center;
}

/* Progression box display */

.prog-grid-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.prog-box {
  background-color: var(--dominant-light);
  margin: 1em;
  padding: 1.8rem;
}

.chord-box {
  background-color: antiquewhite;
  padding: 0.6em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.highlight-chord-div {
  background-color: var(--pressed-color) !important;
  border: 1px solid var(--pressed-color) !important;
  color: antiquewhite !important;
}

.highlight-chord-div .btn-caption {
  color: antiquewhite;
}