.centered-box {
  text-align: center;
}

.prog-box {
  background-color: var(--dominant-light);
  margin: 1em;
  padding: 1.8rem;
}

.chord-box {
  background-color: var(--section-box);
  padding: 0.6em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
