/* Progression box display */

.prog-grid-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.prog-box {
  margin-top: 1em;
  padding: 0.75rem;
}

.piano-box {
  background-color: var(--section-box);
  padding: 1.8rem;
}

.progression-results-box {
  background-color: #dee2ff;
  padding: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.highlight-chord-div {
  background-color: var(--pressed-color) !important;
  border: 1px solid var(--pressed-color) !important;
  color: antiquewhite !important;
}

.highlight-chord-div .btn-caption {
  color: antiquewhite;
}

.prog-settings-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  margin: 0.9em;

  button,
  input {
    min-height: 56px;
    min-width: 56px;
    padding: 0.6em;
    margin: 0.3rem;
  }
}