.bpm-box {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  align-items: center;
}

#range-number-bpm-input {
  min-height: 56px;
  min-width: 56px;
  border: none;
  margin: 0.3rem;
}

input[type="range"] {
  border-radius: 5px;
  overflow: hidden;
  background: transparent;
}
