.bpm-box {
  display: flex;
  flex-direction: column;
  gap: .6em;
  align-items: center;
}

#bpm-input {
  width: 6em;
}

#range-number-bpm-input {
  width: 6em;
  height: 2em;
}

input[type="range"] {
  width: 90px;
  height: 7px;
  border-radius: 5px;
  overflow: hidden;
  background: transparent;
}