.bpm-input {
  font-size: 1.4em;
  /* height: 100%; */
  outline: none;
  padding: 0.6em;
  margin: 0.2em;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
}
